* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container {
    width: 100vw;
    height: auto;
}

.container1 {
    width: 100%;
    height: 120vh;



}

nav {
    width: 100%;
    height: 30px;
    /* border:  red 1px solid; */
    display: flex;
    align-items: center;
    justify-content: center;
    
}

nav h6 {
    color: rgb(139, 139, 139);
    font-size: 10px;
    margin-right: 30px;
}

nav span {
    margin-left: 800px;
}

.navbar {
    width: 100%;
    height: 90px;
    /* border: 1px solid red; */
    display: flex;
    background-color: white;
    align-items: center;
    justify-content: center;
    /* position: fixed;
    top: 30px; */
    box-shadow: 5px 1px 5px;
}

.navbar button {

    border: none;
    font-family: Candara, sans-serif;
    font-size: 12px;

}

.navbar img {
    width: 150px;
    height: 80px;
}

.btn1 {
    width: 70px;
    height: 40px;


    color: white;
    /* margin-right: 30px; */
    background-color: rgb(118, 35, 47);

}

.btn2 {
    width: 100px;
    height: 40px;
    color: rgb(139, 139, 139);
    /* margin-right: 30px; */
    background-color: transparent;

}

.btn2:hover {
    color: white;
    background-color: rgb(118, 35, 47);
}

.btn3 {
    width: 100px;
    height: 40px;
    color: rgb(139, 139, 139);
    /* margin-right: 30px; */
    background-color: transparent;

}

.btn3:hover {
    color: white;

    background-color: rgb(118, 35, 47);
}

.btn4 {
    width: 150px;
    height: 40px;
    color: rgb(139, 139, 139);
    margin-right: 100px;
    background-color: transparent;


}

.btn4:hover {
    color: white;
    background-color: rgb(118, 35, 47);
}

.btn5 {
    width: 100px;
    height: 40px;
    color: rgb(139, 139, 139);
    margin-left: 100px;
    background-color: transparent;

}

.btn5:hover {
    color: white;
    background-color: rgb(118, 35, 47);
}

.btn6 {
    width: 150px;
    height: 40px;
    color: rgb(139, 139, 139);
    /* margin-left: 30px; */
    background-color: transparent;

}

.btn6:hover {
    color: white;
    background-color: rgb(118, 35, 47);
}

.btn7 {
    width: 100px;
    height: 40px;
    color: rgb(139, 139, 139);
    /* margin-left: 30px; */
    background-color: transparent;

}

.btn7:hover {
    color: white;
    background-color: rgb(118, 35, 47);
}

.btn8 {
    width: 80px;
    height: 40px;
    color: rgb(139, 139, 139);
    /* margin-left: 30px; */
    background-color: transparent;

}

.btn8:hover {
    color: white;
    background-color: rgb(118, 35, 47);
}

.hero {
    width: 100%;
    height: 60%;
    /* border: 1px solid red; */
    background-image: url(./home\ img.webp);
    background-repeat: no-repeat;
    background-size: cover;
    background-position-y: 100%;
    -webkit-box-shadow: inset 0px 0px 248px 42px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: inset 0px 0px 248px 42px rgba(0, 0, 0, 0.75);
    box-shadow: inset 0px 0px 248px 42px rgba(0, 0, 0, 0.75);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;




}

.hero h1 {

    color: white;
    font-size: 70px;
    font-family: "Arial Black", serif;
    font-weight: 500;
    line-height: 77px;
}

.hero p {
    margin: 20px;
    color: #deaa86;
    font-size: 24px;
    font-family: Montserrat, sans-serif;
    font-weight: 400;
    line-height: 34px;

}

.hero h5 {
    color: #ffffff;
    font-size: 23px;
    margin-top: 50px;
    font-family: Candara, sans-serif;
    font-weight: 400;
    line-height: 33px;

}

.hero button {
    margin-top: 30px;
    background-color: transparent;
    width: 130px;
    height: 50px;
    font-size: 12px;
    border: 1px solid #deaa86;
    color: white;

}

.hero button:hover {
    background-color: #deaa86;
    color: black;
}

.avail {
    width: 100%;
    height: 224px;
    /* border: 1px solid black; */
    background-color: rgb(180, 106, 85);
    display: flex;
    flex-direction: column;
}

.avail1 {
    width: 100%;
    height: 30%;
    margin-top: 50px;
    display: flex;
    align-items: center;
    justify-content: center;

}

.avail1 div {
    width: 250px;
    height: 100%;
    margin-right: 40px;
    text-align: center;

    /* border: 1px solid green; */
}

.sec1 {
    font-family: Candara, serif;
}

.sec1 h6 {
    font-size: 12px;
    font-weight: 400;
    line-height: 17px;

}

.sec1 h1 {
    font-size: 26px;
    font-weight: 400;
    line-height: 37px;

}

.sec2 {
    font-family: Candara, serif;
}

.sec2 h6 {
    font-size: 12px;
    font-weight: 400;
    line-height: 17px;

}

.sec2 h1 {
    font-size: 26px;
    font-weight: 400;
    line-height: 37px;

}

.sec3 {
    font-family: "Playfair Display", serif;
}

.sec3 h6 {
    font-size: 12px;
    font-weight: 400;
    line-height: 17px;

}

.sec3 h1 {
    font-size: 26px;
    font-weight: 400;
    line-height: 37px;

}

.sec4 {
    font-family: "Playfair Display", serif;
    ;
}

.sec4 h6 {
    font-size: 12px;
    font-weight: 400;
    line-height: 17px;

}

.sec4 h1 {
    font-size: 26px;
    font-weight: 400;
    line-height: 37px;

}

.avail1 h6 {
    color: rgb(203, 156, 134);

}

.avail1 h1 {
    color: rgb(255, 255, 255);

}

.avail2 {
    display: flex;
    align-items: center;
    justify-content: center;
}

.avail2 button {
    width: 180px;
    height: 50px;
    background-color: transparent;
    border: 1px solid #deaa86;
    color: white;
    font-family: Candara, sans-serif;
    font-size: 13px;
    line-height: 23px;
    font-weight: 400;
    margin-top: 30px;
}

.avail2 button:hover {
    background-color: #deaa86;
    color: black;
}

.container2 {
    width: 100%;
    height: 110vh;

    /* border: 1px solid red; */
    display: flex;
    flex-direction: column;

}

.head {
    width: 100%;
    height: 25%;
    margin-top: 50px;
    /* border: 1px solid  lawngreen; */
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.head h1 {
    font-family: "Arial Black", serif;
    font-size: 38px;
    font-weight: 500;
    line-height: 48px;
    color: #374853;
}
 /* .container2 .head hr {

    color: #b46a55;
} */

.head h1 span {
    font-weight: 700;
    color: #b46a55;
}

.para {
    width: 100%;
    height: 80%;
    /* border: 1px solid blue; */
    display: flex;

}

.pimg {
    width: 45%;
    height: 80%;
    margin-top: 20px;
    /* border: 1px solid gold; */
    background-image: url(./618ced449f27e_LaoPlazaHotel_2761.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

.ptxt {
    width: 55%;
    height: 90%;
    /* border: 1px solid gold; */
    display: flex;
    flex-direction: column;
    box-shadow: 20px 5px 20px;
}

.ptxt h2 {
    font-family: Candara, sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 23px;
    color: #deaa86;
    margin-top: 30px;
    margin-left: 40px;

}

.ptxt h1 {
    font-family: "Arial Black", serif;
    font-size: 30px;
    font-weight: 400;
    line-height: 33px;
    color: #374853;
    margin-left: 40px;
    margin-top: 30px;


}

.ptxt p {
    font-family: Candara, sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 29px;
    color: #8b8b8b;
    margin-left: 40px;
    margin-top: 30px;

}

.ptxt h4 {

    font-family: Candara, sans-serif;
    font-size: 18px;
    font-weight: 500;
    line-height: 29px;
    color: #374853;
    font-style: italic;
    margin-left: 40px;
    margin-top: 30px;
}

.ptxt button {
    width: 150px;
    height: 45px;
    border: 1px solid #deaa86;
    background-color: transparent;
    font-size: 10px;
    margin-left: 40px;
    margin-top: 20px;
}

.ptxt button:hover {
    background-color: rgb(118, 35, 47);
    border: none;
    color: white;
}

.rooms {
    width: 100%;
    height: 180vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#f3f3f3+48,f3f3f3+48,ffffff+49 */
    background: rgb(243, 243, 243);
    /* Old browsers */
    background: -moz-linear-gradient(-45deg, rgba(243, 243, 243, 1) 48%, rgba(243, 243, 243, 1) 48%, rgba(255, 255, 255, 1) 49%);
    /* FF3.6-15 */
    background: -webkit-linear-gradient(-45deg, rgba(243, 243, 243, 1) 48%, rgba(243, 243, 243, 1) 48%, rgba(255, 255, 255, 1) 49%);
    /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(135deg, rgba(243, 243, 243, 1) 48%, rgba(243, 243, 243, 1) 48%, rgba(255, 255, 255, 1) 49%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f3f3f3', endColorstr='#ffffff', GradientType=1);
    /* IE6-9 fallback on horizontal gradient */


}

.room1 {
    width: 100%;
    height: 20%;
    margin-top: 30px;
    /* border: 1px solid  lawngreen; */
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.room1 h1 {
    font-family: "Arial Black", serif;
    font-size: 38px;
    font-weight: 500;
    line-height: 48px;
    color: #374853;
}

.room1 h1 span {
    font-weight: 700;
    color: #b46a55;
}

.room1 p {

    font-family: Candara, sans-serif;
    ;
    font-size: 16px;
    font-weight: 400;
    line-height: 29px;
    color: #8b8b8b;
    margin-top: 20px;




}

.grid {
    width: 70%;
    height: 800px;
    row-gap: 20px;
    display: grid;
    /* grid-gap: 30px; */
    column-gap: 30px;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    /* border: 1px solid red; */
}

.grid1 {
    background-image: url(./5e54f748b06fb_LaoPlazaHotel_1716.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

.grid2 {
    background-image: url(./5e54f748c2db1_LaoPlazaHotel_777.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

.grid3 {
    background-image: url(./5e54f748d5419_LaoPlazaHotel_3127.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

.grid4 {
    background-image: url(./5e54f748a840c_LaoPlazaHotel_2646.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

.rooms button {
    width: 150px;
    height: 45px;
    border: 1px solid #deaa86;
    background-color: transparent;
    font-size: 10px;
    margin-left: 40px;
    margin-top: 70px;

}

.rooms button:hover {
    background-color: rgb(118, 35, 47);
    border: none;
    color: white;
}

.container3 {
    width: 100%;
    height: 75vh;
    background-color: rgb(51, 29, 37);
}

.info {
    width: 100%;
    height: 70%;
    /* border: 1px solid white; */
    display: flex;
    align-items: center;
    justify-content: center;
    align-items: center;

}

.info div {
    width: 25%;
    height: 100%;
    /* border: 1px solid white; */
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;

    text-justify: center;


}

.info h2 {
    font-family: "Arial Black", serif;
    font-size: 42px;
    font-weight: 700;
    line-height: 46px;
    color: #ffffff;
    margin-top: 30px;
    text-align: center;
    text-justify: center;
}

.info p {
    font-family: Candara, sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 29px;
    color: #e1e1e1;
    /* padding: 20px; */
    text-align: center;
    text-justify: center;

}

.info .star {
    width: 30%;
    height: 30px;
    display: flex;
    flex-direction: row;
    /* border: 1px solid white; */
    justify-content: space-between;
    margin-top: 20px;
    margin-bottom: 20px;

}

.infobtn button {
    width: 230px;
    height: 50px;
    background-color: transparent;
    border: 1px solid #deaa86;
    color: white;
    font-family: Candara, sans-serif;
    font-size: 13px;
    line-height: 23px;
    font-weight: 400;
    margin-top: 30px;
    margin-left: 650px;
}

.infobtn button:hover {
    background-color: #deaa86;
    color: black;
}

.container4 {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    /* border: 1px solid green; */
}

.gallery {
    width: 100%;
    height:250px;
    margin-top: 30px;
    /* border: 1px solid  lawngreen; */
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.gallery h1 {
    font-family: "Arial Black", serif;
    font-size: 38px;
    font-weight: 500;
    line-height: 48px;
    color: #374853;
}

.gallery h1 span {
    font-weight: 700;
    color: #b46a55;
}

.gallery p {

    font-family: Candara, sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 29px;
    color: #8b8b8b;
    margin-top: 20px;
}
.gimg {
    width: 100%;
 height: 300px;
    /* border: 1px solid red; */
    display: flex;
    padding: 20px;
    column-gap: 10px;
   
}
.gimg1 { 
    width: 25%;
    height: 100%;
    background-image: url(./5e54f748a014e_LaoPlazaHotel_2148.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}
.gimg2 {
    width: 25%;
    height: 100%;
    background-image: url(./5e54f748b8a15_LaoPlazaHotel_8368.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}
.gimg3 {
    width: 25%;
    height: 100%;
    background-image: url(./5e54f748d5419_LaoPlazaHotel_3127.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}
.gimg4 {
    width: 25%;
    height: 100%;
    background-image: url(./5e54f74901194_LaoPlazaHotel_5439.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

.drop {
    width: 100%;
    height: 100px;
    /* border: 2px solid fuchsia; */
    display: flex;
    
    justify-content: center;
}
.drop button {
    width: 50px;
    height: 25px;
    background-color: rgb(234,234,234);
    color: white;
    font-size: 15px;
    border: none;
    border-radius: 3px;


}
.drop button:hover {

    background-color: rgb(134,151,145);
}
.container5 {
     width: 100%;
    height: 500px;
    /* border: 1px solid green; */
     
}
.container5 {
    width: 100%;
    height: 90vh;
    background-color: rgb(25,16,17);
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;

}
.part1 {
    width: 80%;
    height: 70%;
    /* border:  1px solid white; */
    display: flex;



}
.first {
   
    width: 33%;
   height: 100%;

}
.first span { 
    width: 40%;
   height: 40%;
     /* border: 1px solid red ; */
    margin-top: 100px;
    display: flex;
 margin-top: 200px;
    flex-direction: column;
    
    
}
.first span h2 {
    margin-top: 20px;
    color: white;
    font-family: Candara, sans-serif;
    font-size: 15px;
    line-height:21px ;
    font-weight:400 ;
}
.second { 
    width: 33%;
    height: 100%;
    /* border: 1px solid white; */
     display: flex;
     align-items: center;
     justify-content: center;
     flex-direction: column;
}
.second h1{
    font-family:"Arial Black", serif; 
    font-size:32px ;
    line-height:35px ;
    font-weight: 700 ;
    color: white;

}
.second h4{
    font-family:Candara, sans-serif;  
    font-size:14px ;
    line-height:20px ;
    font-weight: 400 ;
    color: #deaa86;
    margin-top: 10px;
    
}
.second h2{
    font-family:"Arial Black", serif; ; 
    font-size:px20 ;
    line-height:29px ;
    font-weight: 400 ;
    color: white;
    margin-top: 10px;
}
.second span{
    width: 70px;
    height: 30px;
 font-size: 25px;
    display: flex;
    margin-top: 30px;
    justify-content: space-between;
 /* border: 1px solid red; */
    
}




.third {
     display: flex;
     align-items: center;
   flex-direction: column;
}
.third img {
    margin-top: 280px;
  
    margin-left: 90px;

}
.third p {
    font-family: Candara, sans-serif;
    font-size:16px ;
    line-height: 23px;
    font-weight:400;
    color: white;
    margin-left: 100px;
}

.part2 {
    width: 100%;
    height: 30%;
    /* border:  1px solid white; */
    display: flex;
    flex-direction: column;
  align-items: center;



}
.part2 hr { 
     margin-top: 150px;
 width: 1200px;
}
.part2 p {
    font-family: "Playfair Display", serif;
    font-size: 12px;
    font-weight: 400;
    line-height: 17px;
    color: white;
}
